<div class="info border border-dark bg-dark text-white"><span>Controls</span></div>
<div class="controls border border-dark bg-dark">
  <div class="row border border-dark">
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(1)">1</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(2)">2</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(3)">3</button>
  </div>
  <div class="row border border-dark">
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(4)">4</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(5)">5</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(6)">6</button>
  </div>
  <div class="row border border-dark">
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(7)">7</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(8)">8</button>
    <button class="edit-button col p-0 border border-dark btn btn-secondary btn-block" type="button" (click)="makeEdit(9)">9</button>
  </div>
  <div class="notes-controls mt-1">
    <button class="notes-toggle btn btn-secondary btn-block" type="button" (click)="toggleNoteMode()">Toggle note mode</button>
    <button class="notes-auto btn btn-secondary btn-block" type="button" (click)="showAutoNotesModal()">A</button>
  </div>
</div>