<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="0" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="1" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="2" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="3" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="4" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="5" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="6" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="7" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [column]="8" [concrete]="true"></app-cell>
