<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="0" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="1" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="2" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="3" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="4" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="5" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="6" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="7" [concrete]="true"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="8" [concrete]="true"></app-cell>
