<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="0"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="1"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="2"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="3"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="4"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="5"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="6"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="7"></app-cell>
<app-cell class="col p-0 border border-secondary border-top-0 border-bottom-0 border-start-0 ratio ratio-1x1" [row]="this.row" [col]="8"></app-cell>
