<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="0"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="1"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="2"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="3"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="4"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="5"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="6"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="7"></app-row>
<app-row class="row border border-secondary border-top-0 border-start-0 border-end-0" [row]="8"></app-row>
<!-- <div id="sudoku-row-1">
    <div class="sudoku-cell"><button (mouseover)="test()"></button></div>
  </div> -->