.row {
  margin: auto;
}

div.cell {
  color: gray;
}

div.value {
  font-size: 3em;
}

div.concrete {
  color: white;
}

div.notes {
  font-size: .75em;
}

div.selected {
  border: 2px solid skyblue;
}

div.selected-note-mode {
  border: 2px dashed skyblue;
}