.row {
  margin: auto;
}

div.cell {
  color: slategray;
}

div.cell.highlighted {
  background-color: #3a4148 !important;
}

div.value {
  font-size: 3em;
}

div.concrete {
  color: white;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

div.notes {
  font-size: .75em;
}

div.selected {
  border: 2px solid skyblue;
}

div.selected-note-mode {
  border: 2px dashed skyblue;
}